h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
}

.sidebar {
    width: 25%;
    padding: 20px;
    border: solid black;
    border-width: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
    float: left;
    font-size: larger;
    line-height: 1cm;
    background-color: azure;
}

body {
  background-color: lightsalmon;
}

img {
  width: 800px;
  height: 550px;
  float: right;
  margin: 10px;
  border: 2px black;
  padding: 4px;
  padding-left: 10px;
  border-width: 2px;
}

.head {
  width: 100%;
  padding: 20px;
  border: solid black;
  border-width: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
  background-color: azure;
}


